.App {
  text-align: center;
  padding: 20px;
  background: #121212;
  color: white;
  min-height: 100vh;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.game-card {
  background: #1e1e1e;
  padding: 15px;
  width: 250px;
  border-radius: 10px;
  text-align: left;
}

.game-card img {
  width: 100%;
  border-radius: 10px;
}