.App {
  text-align: center;
}

.calculator {
  margin: 20px auto;
  width: 200px;
}

.calculator input {
  width: 100%;
  height: 40px;
  text-align: right;
  margin-bottom: 10px;
  font-size: 18px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  height: 40px;
  font-size: 16px;
  cursor: pointer;
}